.main-wrap {
    background-image: url('../img/cityscape.jpg');
    background-size: cover;
    min-height: 500px;
}

.bg-overlay {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
}

#map {
    width: 100%;
    height: 250px;
}

#map.tall-map {
    height: 400px;
}


.bg-overlay
.jumbotron {
    background-color: transparent;
}
